.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-text {
    text-align: left;
    min-width: 300px;
    max-width: 550px;
    margin: 25px;
    color: #969696;
}